*{
	margin: 0px;
}

body{
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(140,140,150,1);
}

.backstage{
	display: none;
}


.pannel{
	position: absolute;
}


.pnl-select{
	left: 0px; top: 100px; right:200px; bottom:0px;
	background-color: rgba(0,0,255,0.05);
}

.pnl-menu{
	left: 0px; top: 0px; right:200px; height:100px;
	background-color: rgba(255,255,0,0.05);
}

.pnl-display{
	right: 0px; top: 0px; width:200px; height:100%;
	background-color: rgba(0,255,0,0.05);
}

.backstage {
	display: none;
}

button {
	border-width: 2px;
	border-radius: 6px;
	margin: 3px;
	width:100px;
	height: 60px;
	overflow: hidden;
}
button.disabled{
	background-color: rgba(0,0,0,0) !important;
	border-color: #808080 !important;
	box-shadow: 3px 3px 6px 0px #000000 !important;
	color: #a0a0a0 !important;
}

/*
Color levels
low-color: #4040A0 - normal background, active text
high-color: #C0C0FF - shadow, border, active background.
*/
.pnl-select button.group {
	background-color: #4040a0;
	border-color: #c0c0ff;
	box-shadow: 4px 4px 8px 0px #C0C0FF; 
	color: white;
}
.pnl-select button.group.active {
	background-color: #c0c0ff;
	border-style: inset;
	box-shadow: 1px 1px 8px 3px #C0C0FF;
	font-weight: bold;
	color: #4040a0;
}

.pnl-select button.item {
	background-color: #40a0a0;
	border-color: #c0ffff;
	box-shadow: 4px 4px 8px 0px #c0ffff; 
	color: white;
}

.pnl-select button.item.active{
	background-color: #c0ffff;
	border-style: inset;
	box-shadow: 1px 1px 8px 3px #c0ffff;
	font-weight: bold;
	color: #40a0a0;
}

/*
low-color: a0a000 - luminance 80
color: ffff01 - limunance 128
high-color: ffffb9 - luminance 220
*/
.pnl-menu button {
	background-color: #ffff01;
	border-color: #ffffb9;
	box-shadow: 4px 4px 8px 0px #ffffb9; 
	color: black;
}
.pnl-menu button.active {
	background-color: #ffffb9;
	border-style: inset;
	box-shadow: 1px 1px 8px 3px #ffffb9;
	font-weight: bold;
	color: #a0a000;
}

.pnl-display button {
	background-color: #a040a0;
	border-color: #ff80ff;
	box-shadow: 4px 4px 8px 0px #ffc0ff; 
	color: white;
}
.pnl-display button.active {
	background-color: #ffa0ff;
	border-style: inset;
	box-shadow: 1px 1px 8px 3px #ffc0ff;
	font-weight: bold;
	color: #802080;
}

.pnl-select button{
	position: absolute;
}


@rowTop: 20px;
@rowHeight: 70px;
.pnl-select {
	.row0 { top: 0 * @rowHeight + @rowTop; }
	.row1 { top: 1 * @rowHeight + @rowTop; }
	.row2 { top: 2 * @rowHeight + @rowTop; }
	.row3 { top: 3 * @rowHeight + @rowTop; }
	.row4 { top: 4 * @rowHeight + @rowTop; }
	.row5 { top: 5 * @rowHeight + @rowTop; }
	.row6 { top: 6 * @rowHeight + @rowTop; }
	.row7 { top: 7 * @rowHeight + @rowTop; }
	.row8 { top: 8 * @rowHeight + @rowTop; }
	.row9 { top: 9 * @rowHeight + @rowTop; }
	.row10 { top: 10 * @rowHeight + @rowTop; }
	.row11 { top: 11 * @rowHeight + @rowTop; }
	.row12 { top: 12 * @rowHeight + @rowTop; }
}

@colLeft: 3px;
@colWidth: 103px;
.pnl-select {
	.col0 { left: 0 * @colWidth + @colLeft; }
	.col1 { left: 1 * @colWidth + @colLeft; }
	.col2 { left: 2 * @colWidth + @colLeft; }
	.col3 { left: 3 * @colWidth + @colLeft; }
	.col4 { left: 4 * @colWidth + @colLeft; }
	.col5 { left: 5 * @colWidth + @colLeft; }
	.col6 { left: 6 * @colWidth + @colLeft; }
	.col7 { left: 7 * @colWidth + @colLeft; }
	.col8 { left: 8 * @colWidth + @colLeft; }
	.col9 { left: 9 * @colWidth + @colLeft; }
	.col10 { left: 10 * @colWidth + @colLeft; }
	.col11 { left: 11 * @colWidth + @colLeft; }
	.col12 { left: 12 * @colWidth + @colLeft; }
}
